typing-extensions
openai>=1.0.0,<2.0.0
langchain-openai>=0.1.0
langchain-experimental
pandas
stockstats
langgraph
setuptools
akshare
tushare
parsel
requests
pytz
chainlit
rich
questionary
langchain_anthropic
langchain-google-genai
dashscope
plotly
psutil